{
  "pid": "bw.application.API_Customer_Service.application_1.0",
  "properties": {
    ".module.name": {
      "name": ".module.name",
      "value": "API_Customer_Service.application",
      "type": "java.lang.String"
    },
    ".type.\/\/API_Customer_Service\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/API_Customer_Service\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/API_Customer_Service\/\/BW.MODULE.VERSION": {
      "name": "\/\/API_Customer_Service\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/API_Customer_Service\/\/BW.HOST.NAME": {
      "name": "\/\/API_Customer_Service\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/API_Customer_Service\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/API_Customer_Service\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/API_Customer_Service\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/API_Customer_Service\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/API_Customer_Service\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/API_Customer_Service\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/API_Customer_Service\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/API_Customer_Service\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/API_Customer_Service\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/API_Customer_Service\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.API_Customer_Service.application_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/API_Customer_Service\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/API_Customer_Service\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/API_Customer_Service\/\/BW.MODULE.NAME": {
      "name": "\/\/API_Customer_Service\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "API_Customer_Service.application",
      "type": "java.lang.String"
    },
    "\/\/API_Customer_Service\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/API_Customer_Service\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/API_Customer_Service\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/API_Customer_Service\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/API_Customer_Service\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/API_Customer_Service\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "\/\/API_Customer_Service\/\/BW.DOMAIN.NAME": {
      "name": "\/\/API_Customer_Service\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/API_Customer_Service\/\/BW.APPNODE.NAME": {
      "name": "\/\/API_Customer_Service\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/API_Customer_Service\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/API_Customer_Service\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/API_Customer_Service\/\/BW.APPSPACE.NAME": {
      "name": "\/\/API_Customer_Service\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/API_Customer_Service\/\/BW.HOST.NAME": {
      "name": ".type.\/\/API_Customer_Service\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    }
  }
}