{
  "pid": "com.tibco.bw.stat.appnode.f4c6ec87-ca44-4fb6-9331-a4c3d1f348d0",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.f4c6ec87-ca44-4fb6-9331-a4c3d1f348d0",
      "type": "java.lang.String"
    }
  }
}